<!DOCTYPE html>
<html lang="en" class="theme_prime">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link
  rel="icon" sizes="16x16" href="../images/dev_logo.png"/>
  <title>WKD || TOP-Members Only</title>
</head>
<body>
  <h1>The Club - WKD messageboard</h1>