<% if (member === false) {%>
    <div class="joinMember_ho">
        <h2>Want be a member of the 'The special messageboard-club'?</h2>
        <p>(...to see author and date of the messages along to all other club benefits.) </p>
        <button onclick="location.href='/users/joinClub'">Join with code</button>
    </div>
<%}%>