<%- include('head') -%>
  <form action="/users/sign-up" method="POST" class="signup_form">
    <h2>Sign Up</h2>
    <label for="username">Username</label>
    <input name="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <label for="password">Confirm Password</label>
    <% if (validate === false) {%>
      <input name="passwordConfirmation" type="password" minlength="5" maxlength="20" title="Length: 5-20" placeholder="Not valid!" style="border-color: red;" required/>
    <% } else { %>
      <input name="passwordConfirmation" type="password" minlength="5" maxlength="20" title="Length: 5-20" required/>
    <%}%>
    <label for="secret">Membership code (not required)</label>
    <input name="secret" type="password" />
    <button>Sign Up</button>
  </form>
</body>
</html>